h1 {
    color: red;
}

main {
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#main_canvas  {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    border-style: solid;
}

#input_row {
    display: flex;
    padding-left: 100px;
}

#equation {
    margin-left: 100px;
}

.matrix {
    display: flex;
}

.vector_col{
    display: flex;
    flex-direction: column;
}

.matrix_cell {
    width: 50px;
}

.matrix_operator  {
    margin-left: 10px;
    margin-right: 10px;
}
.matrix_operator > .operator_container {
    height: 10px;
    margin-top: 0.8em;
}


.center_text {
    text-align: center;
}

.bars {
    border-style: none solid none solid;
}
